@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// pictos icon style
@include pictos-iconmask('window');
@include pictos-iconmask('settings9');
@include pictos-iconmask('chat3');
@include pictos-iconmask('refresh');
@include pictos-iconmask('search2');

// Hatio style

$base-color: #3f69a3 !default;

body{background:url('../images/bgDarkDot.png');font-family:'Candara',"Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif}
.x-layout-card-item {background-color:transparent;}
.x-form .x-scroll-container > .x-inner{padding:0}

.x-toggle{background:url('../images/bgSwitch.png') 100% 0 repeat-x;height:30px;border-bottom:1px solid #eff3f4;width:110px}
.x-toggle-on{background:url('../images/bgSwitchOn.png') 0 0 repeat-x;}
.x-toggle .x-thumb{width:29px;height:28px;}
.x-toggle .x-thumb::before{background:url('../images/btnSwitch.png') no-repeat;border:0;top:0;left:0}
.x-toggle-on .x-thumb::before{background:url('../images/btnSwitchOn.png') no-repeat;}