/*loading indicator style*/
#appLoadingIndicator{position:absolute;top:50%;left:50%;margin-top:-10px;margin-left:-50px;width:200px;height:25px;}
#appLoadingIndicator > * {
    float:left;width:25px;height:25px;margin-left:11px;
	background:url('../images/iconLoading.png');
    -webkit-animation-name: appLoadingIndicator;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
	opacity:0;
}
#appLoadingIndicator > :nth-child(1){-webkit-animation-delay: 0.18s;}
#appLoadingIndicator > :nth-child(2){-webkit-animation-delay: 0.42s;}
#appLoadingIndicator > :nth-child(3){-webkit-animation-delay: 0.54s;}
@-webkit-keyframes appLoadingIndicator{
    0% {opacity: 0.3}
    50% {opacity: 1;}
    100% {opacity:0.3}
}

/*common style*/
.marginT10{margin-top:10px !important;}
.marginR10{margin-right:10px !important;}
.marginB10{margin-bottom:10px !important;}
.marginL10{margin-left:10px !important;}
.marginAll10{margin:10px !important;}

.borderRBlack{border-right:1px solid #000;}

/*layout style*/
#ext-viewport{background:url('../images/bgHeader.png') repeat-x;}

/*header style*/
#header,.nav .x-navigation-bar.x-docked-top{height:40px;background:none;}
#header .x-title{line-height:1.8;text-shadow: 1px 2px #10223b;}
#header .x-button{background-color:transparent;background-image:none;border:0;}
.x-button.headerView,.x-button.headerView.x-button-pressing,.x-button.headerView.active{background:url('../images/iconHeaderView.png') no-repeat !important;border:0;width:50px !important;height:40px;border-radius:0;}
.headerView.navMap{background-position:0 0 !important;}
.headerView.navIncident{background-position:0 -40px !important}
.headerView.navInfo{background-position:0 -80px !important}
.headerView.navMap.x-button-pressing,.headerView.navMap.active{background-position:0 -120px !important;}
.headerView.navIncident.x-button-pressing,.headerView.navIncident.active{background-position:0 -160px !important}
.headerView.navInfo.x-button-pressing,.headerView.navInfo.active{background-position:0 -200px !important}

/*nav style*/
.nav{background:url('../images/bgHeaderDark.png') repeat-x;}
.nav .x-toolbar.x-docked-top{border-bottom:0;}
.nav .x-button{border-radius:0;border:0;color:#b7b7b7;background:none;}
.nav .statusPanel{background:url('../images/bgNavPanel.png') 0 100% repeat-x;border-top:1px solid #1e2127;}
.nav .x-carousel{background:url('../images/bgNavCarousel.png') 0 100% repeat-x}
.navBtn{background:url('../images/bgNavMenu.png') repeat-x !important;height:50px;}
.navBtn.x-button-pressing{background:url('../images/bgNavMenuActive.png') repeat-x transparent !important;}
.navBtn .x-button-icon{background:url('../images/iconNavMenu.png') no-repeat !important;}
.navBtn .x-button-icon.iconVehicle{background-position:0 5px !important;}
.navBtn .x-button-icon.iconDriver{background-position:0 -35px !important;}
.navBtn .x-button-icon.iconReport{background-position:0 -75px !important;}
.navBtn .x-button-label{text-align:left;text-indent:7px;}
.statusPanel .x-container{background:url('../images/arrowNavPanel.png') 0 12px no-repeat;position:absolute;display:block;padding:10px 0 5px 15px;color:#95bcea;font-size:13px;}
.nav .incidentPanel .x-innerhtml,.nav .groupPanel .x-innerhtml{background:url('../images/arrowNavPanel.png') 0 12px no-repeat;padding:10px 0 5px 15px;color:#95bcea;font-size:13px;font-weight:bold;}
.nav .x-button.btnDriving{background:url('../images/statusDriving.png') 50% 15px no-repeat;padding:55px 0 0 0;}
.nav .x-button.btnStop{background:url('../images/statusStop.png') 50% 15px no-repeat;padding:55px 0 0 0;}
.nav .x-button.btnIncident{background:url('../images/statusIncident.png') 50% 15px no-repeat;padding:55px 0 0 0;}
.nav .x-button.btnMaint{background:url('../images/statusMaint.png') 50% 15px no-repeat;padding:55px 0 0 0;}
.nav .statusPanel .x-button-label{font-size:13px;color:#ccc;font-family:'Trebuchet MS';}
.nav .statusPanel .x-button-label span{font-size:24px;color:#fff;line-height:1.3;}
.nav .x-carousel-item{overflow:hidden;}
.nav .x-carousel-item .x-button-label a{color:#eee;text-decoration:none;font-size:17px;}
.nav .x-carousel-item .x-button-label a span{color:#bfbfbf;font-size:13px;}
.nav .x-carousel-item .incidentPanel .x-button-label a span{display:block;}
.nav .x-carousel-item .x-button-label{text-align:left;width:100px;text-overflow:ellipsis;}
.nav .incidentPanel .x-button{background:url('../images/iconStatusIncident.png') 15px 9px no-repeat;padding-left:40px;padding-bottom:3px;}
.nav .groupPanel .x-button{background:url('../images/iconNavGroup.png') 15px 4px no-repeat;padding-left:42px;padding-bottom:10px;}
.x-carousel-indicator span{width:7px;height:7px;}
.nav .x-carousel-indicator-dark span.x-carousel-indicator-active{background-color:#fff;opacity:0.9;}
.nav .x-carousel-indicator-dark span{background-color:#fff;opacity:0.3;}
.nav .x-button .x-button-icon{width:45px;}

/*incident information panel view style*/
.grayBg{background:url('../images/bgWhiteShadowPanel.png') repeat-x #e8edef;}
.imgVehicle,.imgDriver{
	border:5px solid #fff;-webkit-border-radius:5px;border-radius: 5px;
	width:110px;height:115px;background-position:50% 50%;margin-right:10px;
	box-shadow: 1px 2px 2px #888888;
}
.infoID, .infoText{border-bottom:1px solid #dfdfdf;padding:7px 10px 4px 5px;color:#585858;}
.infoID{font-size:120%;color:#000;font-weight:bold;}
.infoID.Incident{background:url('../images/iconStatusIncident.png') 3px 55% no-repeat;padding-left:25px;}
.infoID.Running{background:url('../images/iconStatusDriving.png') 3px 55% no-repeat;padding-left:25px;}
.infoID.Idle{background:url('../images/iconStatusIdle.png') 3px 55% no-repeat;padding-left:25px;}
.infoID.Maint{background:url('../images/iconStatusMaint.png') 3px 55% no-repeat;padding-left:25px;}
.shotHList{background:url('../images/bgInfoIncident.png') repeat-x;border-top:1px solid #fff;border-bottom:1px solid #9da2a5;}
.shotHList .x-button{background:none;border:0;}
.shotHList .x-button{background:url('../images/iconHeaderView.png') 0 -40px no-repeat !important;padding-left:45px;border-right:1px dotted #999;}
.shotHList .x-button-label{text-align:left;line-height:1em;}
.shotHList .x-button-label a{text-decoration:none;color:#333;}
.shotHList .x-button-label span{display:block;font-size:13px;color:#666;}
.divHAlign .x-innerhtml div{float:left;padding:0 15px 0 37px;margin:5px 0 0 10px;border-right:1px dotted #999;font-size:11px;font-weight:bold;color:#666;}
.divHAlign .x-innerhtml div span{display:block;font-size:16px;color:#111;}
.divHAlign .iconImplus{background:url('../images/iconImpluse.png') no-repeat;}
.divHAlign .iconETemp{background:url('../images/iconETemp.png') no-repeat;}
.divHAlign .iconVelocity{background:url('../images/iconVelocity.png') no-repeat;}
.divHAlign .iconOBD{background:url('../images/iconOBD.png') no-repeat;}
.shotHList .x-field{background-color:transparent;}
.shotHList .x-toggle-field .x-component-outer{padding:0.4em 0.5em;}

@-webkit-keyframes flickflick{
	from {opacity:0;}
	to   {opacity:1;}
}

.gmnoprint[title='incidentPoint']{
	-webkit-animation-name:flickflick;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    -webkit-animation-direction: alternate;
}